@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=fallback');

@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/flatpickr.css';

@import 'tailwindcss/utilities';

@font-face {
    font-family: "RedHatDisplay";
    src: local("RedHatDisplay"),
      url("./font/RedHatDisplay-VariableFont_wght.ttf") format("opentype");
    font-weight: normal;
  }
  
  body{
    font-family: "RedHatDisplay"!important;
    background: white!important;
  }
  
